.loader{
    width: 70px;
    height: 70px;
    margin: 300px auto;
}
.loader p{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.loader-container{
    display: none;
    background: hsl(0, 0%, 0%) none repeat scroll 0 0;
    height: 100%;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    z-index: 111111;
    top:0;
}

.loader .loader-inner{
    display: inline-block;
    width: 15px;
    border-radius: 15px;
    background: #1995DC;
}
.loader .loader-inner:nth-last-child(1){
    -webkit-animation: loading 1.5s 1s infinite;
    animation: loading 1.5s 1s infinite;
}
.loader .loader-inner:nth-last-child(2){
    -webkit-animation: loading 1.5s .4s infinite;
    animation: loading 1.5s .4s infinite;
}
.loader .loader-inner:nth-last-child(3){
    -webkit-animation: loading 1.5s .7s infinite;
    animation: loading 1.5s .7s infinite;
}
.loader .loader-inner:nth-last-child(4){
    -webkit-animation: loading 1.5s 0s infinite;
    animation: loading 1.5s 0s infinite;
}
@-webkit-keyframes loading{
    0%{
        height: 15px;
    }
    50%{
        height: 35px;
    }
    100%{
        height: 15px;
    }
}
@keyframes loading{
    0%{
        height: 15px;
    }
    50%{
        height: 35px;
    }
    100%{
        height: 15px;
    }
}

.header_agileinfo, 
.btn-primary,
.footer input[type="submit"],
.w3_agileits_services_bottom_r_grid,
.contact-grid,
.modal-header {
    background-color:  #09ACFF;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #09ACFF;
    border-color: #09ACFF;
}
.panel-primary {
    border-color: #09ACFF;
}

.text-primary {
    color:  #09ACFF;
}
.modal-header .close {
    margin-top: -15px;
}

.pagination > li > a, 
.pagination > li > span {
    color: #09ACFF;
}

.pagination > .active > span, 
.pagination > .active > span:hover,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > a:focus {
    background-color:  #09ACFF;
    border-color: #fff;
}

#generic_price_table .generic_content .generic_feature_list ul li:hover {
    border-left: 5px solid #09ACFF;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a {
    background-color:  #09ACFF;
    border-color: #09ACFF;
}

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg {
    border-color: #09ACFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #09ACFF;
}
.portfolio {
    padding: 2em 0;
}

#register_title {
    font-size: 18px;
    font-weight: 500;
}

#pat_register.btn-primary, 
#doc_register.btn-primary {
    background-color: #c6c5c0 !important;
}
#pat_register.btn-primary:hover,
#pat_register.btn-primary.active,
#doc_register.btn-primary:hover, 
#doc_register.btn-primary.active {
    background-color: #09ACFF !important;
}

#register_frm .error_msg {
    color: #d21616;
    font-size: 14px;
    font-style: italic;
}